NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb+srv://renanmuler23_db_user:lost_person_car_det_12345@cluster0.evxgvim.mongodb.net/?appName=Cluster0
JWT_SECRET=cdb72bc39cc75de01e99038b243b1fc553d5b08bedbfddfc18e289f08f4ccfc7
SERVER_URL=http://localhost:5000
SWAGGER_ENABLED=true
SWAGGER_ADMIN_ONLY=false
