NODE_ENV=development
PORT=5000
MONGODB_URI=mongodb://localhost:27017/lost_person_car_detection
JWT_SECRET=18d4a28a9239b6254e4fb12c30c3e84e1e0e769d9f6e19fac214e988b101ad24
FRONTEND_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:3000
